ul {
  list-style: none;
  padding: 0;
}

.Table {
  width: 100%;
  /* height: 500px; */
  color: #000000;
  overflow: hidden;
  border-bottom: 2px solid #f5f6fb;
  border-radius: 30px 30px 0 0;
}

.Thead {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  background-color: #f5f6fb;
  text-align: center;
  height: 40px;
}

.Td {
  font-family: 'Roboto';
  font-style: normal;
  height: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #52555F;
  border-bottom: 2px solid #f5f6fb;
}

.Description {
  text-align: left;
  padding-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #52555F;
  height: 50px;
  border-bottom: 2px solid #f5f6fb;
}

.ExpensesSum {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  height: 50px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  border-bottom: 2px solid #f5f6fb;
  color: #e7192e;
}

.IncomeSum {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  height: 50px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #407946;
  border-bottom: 2px solid #f5f6fb;
}


.Tbody {
  display: flex;
  flex-direction: column;
  height: 340px;
  background-image: url('images/TableGrid.png');
  overflow-y: scroll;

  border-style: solid;
  border-color: #f5f6fb;
  border-top: none;
  border-bottom: none;
  border-width: 2px;
}

.Tbody::-webkit-scrollbar {
  width: 6px;
  background: #f5f6fb;
}

.Tbody::-webkit-scrollbar-thumb {
  background-color: #ff6b01;
  border-radius: 2px;
}

.Tbody::-webkit-scrollbar-track {
  background-color: #f5f6fb;
}

@media screen and (max-width: 1279px) {
  .Table {
    margin-bottom: 82px;
  }

  .Thead {
    grid-template-columns: 1fr 1.9fr 1fr 1fr 0.6fr;
  }

  .Tbody {
    height: 344px;
  }

  .Date {
    padding-left: 20px;
    text-align: left;
  }

  .Description {
    text-align: left;
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .Table {
    max-width: 746px;
  }
}

@media screen and (max-width: 767px) {
  .Table {
    max-width: none;
    border: none;
    overflow: visible;
  }

  .Thead {
    display: none;
  }

  .Tbody {
    border: none;
    background-image: none;
    overflow: visible;
  }

  .Tbody::-webkit-scrollbar {
    display: none;
  }
}

.Line {
  display: grid;
  grid-template-columns: 1fr 2.6fr 1.5fr 1.5fr 0.8fr;
  grid-template-areas: 'Date Description Category Sum Delete';

  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.04em;
  text-align: center;

  background-color: #fff;
  color: #52555f;

  border-style: solid;
  border-color: #f5f6fb;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: 2px;
}

.Line li:not(:last-child) {
  padding-top: 9px;
  padding-bottom: 9px;
}

.Date {
  grid-area: Date;
}

.Category {
  grid-area: Category;
  min-width: 120px;
}

.Description {
  grid-area: Description;
  max-width: 183px;
  text-align: left;
  overflow: hidden;
}

.Sum {
  grid-area: Sum;
  font-weight: 700;
}

.Delete {
  grid-area: Delete;
  margin-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



@media screen and (max-width: 1279px) {
  .Line {
    grid-template-columns: 1fr 1.9fr 1fr 1fr 0.6fr;
  }

  .Date {
    margin-left: 20px;
    text-align: left;
  }

  .Delete {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .Line {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr 1fr 0.7fr 0.5fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
      'Description Description Sum Delete'
      'Date Category Sum Delete';
    justify-items: start;
    border-left: none;
  }

  .Line li:last-child {
    border-bottom: 2px;
  }

  .Description {
    width: 100%;
    font-weight: 700;
  }

  .Date {
    margin-left: 0;
  }

  .Category {
    text-align: left;
  }

  .Date,
  .Category {
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }

  .Delete {
    margin-right: 0;
    margin-left: auto;
  }
}