/* .Table {
  width: 100%;
  height: 500px; 
  color: #000000;
  overflow: hidden;
  /* flex-shrink: 1;
  table-layout: fixed; 
  border-bottom: 2px solid #f5f6fb;
  border-radius: 30px 30px 0 0;
}


/* .Thead {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  background-color: #f5f6fb;
  text-align: center;
  height: 40px;
} */


/* .Td {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #52555F;
  border-bottom: 2px solid #f5f6fb;
  /* overflow: hidden;
  text-overflow: ellipsis; */




/* /* /* .Tbody {

  /* display: flex; */
/* flex-direction: column; */
/* height: 340px;
/* background-image: url('images/TableGrid.png'); */
/* overflow-y: scroll; */
/* width: 100%;
  display: block; */

/* border-style: solid;
border-color: #f5f6fb;
border-top: none;
border-bottom: none;
border-width: 2px; */

/* } */

/* .Tbody::-webkit-scrollbar {
  width: 6px;
  background: #f5f6fb;
}

.Tbody::-webkit-scrollbar-thumb {
  background-color: #ff6b01;
  border-radius: 2px;
}

.Tbody::-webkit-scrollbar-track {
  background-color: #f5f6fb;
} */

/* @media screen and (max-width: 1279px) {

  .TableScroll {
    margin-right: 0px;
  }

  .Table {
    margin-bottom: 82px;
  }

  .Thead {
    grid-template-columns: 1fr 1.9fr 1fr 1fr 0.6fr;
  }

  .Tbody {
    height: 344px;
  }

  .Date {
    padding-left: 20px;
    text-align: left;
  }

  .Description {
    text-align: left;
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .Table {
    max-width: 746px;
  }

  .TableScroll {
    margin-right: 0px;
  }

}

@media screen and (max-width: 767px) {
  .TableScroll {
    max-width: none;
    border: none;
    overflow: visible;

  }

  .Thead {
    display: none;
  }

  .Tbody {
    border: none;
    background-image: none;
    overflow: visible;
  }

  .Tbody::-webkit-scrollbar {
    display: none;
  }
} */

.TableScroll {

  margin-right: 75px;
  border-radius: 30px;
  overflow: hidden;
  color: #000000;

}
@media screen and (min-width: 1280px) {
  .TableScroll {
  width: 746px;
  }
}


.TableScrollBody {
  height: 344px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;

}

.TableScroll table {
  width: 100%;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  color: #52555F;
}

.TableScroll thead th {
  font-weight: bold;
  text-align: center;
  border: none;
  background: #f5f6fb;
  font-size: 14px;
  color: #000000;
  height: 40px;
}

.TableScroll tbody td {
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;

}

.ExpensesSum {
  font-weight: 700;
  color: #e7192e;
}

.IncomeSum {
  font-weight: 700;
  color: #407946;
}

.TDesc {
  width: 200px;
  text-align: left;
}


.TableScroll tbody tr:nth-child(even) {
  background: #f5f6fb;

}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar-track {
  background-color: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  background-color: #ff6b01;
  border-radius: 2px;

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .TableScroll {
    margin-right: 0px;
  }
}