.button {
  width: 136px;
  height: 44px;
  border-radius: 16px;
  border: 2px solid var(--general-background-top-part-color);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: var(--general-background-bot-part-color);
  color: var(--table-description-text-color);
  transition: all 0.2s ease-out;

}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--trans-navbar-active-link-text-color);
  color: var(--trans-background-color);
}

.button:active {
  cursor: pointer;
  background-color: var(--general-accent-background-color);
  color: var(--general-header-color);
}

.button:first-child {
  margin-right: 15px;
}

.buttonContainer {
  display: inline;
  width: 47%;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .button {
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 130px;
  }

  .buttonContainer {
    display: inline;
    width: 50%;
  }

  .button:first-child {
    margin-right: 20px;
  }

  .buttonContainer {
    display: inline;
    width: 30%;
  }
}