.button {
  width: 136px;
  height: 44px;
  border-radius: 16px;
  border: 2px solid #f2f5fc;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #fff;
  color: #52555F;
  transition: all 0.2s ease-out;

}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #ff751d;
  color: #fff;
}

.button:active {
  cursor: pointer;
  background-color: #fc6303;
  color: rgb(0, 0, 0);
}

.button:first-child {
  margin-right: 15px;
}

.buttonContainer {
  display: inline;
  width: 47%;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .button {
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 130px;
  }

  .buttonContainer {
    display: inline;
    width: 50%;
  }

  .button:first-child {
    margin-right: 20px;
  }

  .buttonContainer {
    display: inline;
    width: 30%;
  }
}