.container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 11px;
}

.inputCount {
  width: 119px;
  height: 44px;
  border: 2px solid var(--auth-form-input-background-color);
  border-radius: 0px 16px 16px 0px;
  text-align: center;
  color: var(--trans-form-input-placeholder-color);
}