.container {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< Updated upstream
}

.calendar {
    width: 74px;
    height: 44px;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.17;
    color: rgba(82, 85, 95, 1);
    border: none;
    outline: none;
    background-color: transparent;
    letter-spacing: 0.04em;
    margin-left: 10px;
}

.icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        position: absolute;
        /* margin-right: 44px; */
    }
}

/* @media screen and (min-width: 1280px) {
  .container {
    margin-right: 32px;
  }
} */
=======
    font-size: 30;
    color: #010101;
  }
  
  .btn_calendar {
    background-color: white;
    border: none;
    height: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    margin: 0;
    padding: 0;
  
    color: #52555f;
  }
  
  .svg_calendar {
    margin-right: 10px;
  }
>>>>>>> Stashed changes
