.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(110, 110, 110, 0.521);
}

.modal {
  position: relative;
  width: 380px;
  padding: 50px 58px 60px;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  background-color: #ffffff;
}

@media screen and (max-width: 400px) {
  .modal {
    width: 280px;
    padding: 30px 18px 40px;
  }
}

.closeButton {
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 400px) {
  .closeButton {
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.closeButton:hover,
.closeButton:focus {
  background-color: #ff751d;
  border: 2px solid #838385;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closeButton:hover > .svg,
.closeButton:focus > .svg {
  fill: rgb(253, 253, 253);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
  fill: #52555f;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  padding: 2px 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  color: #52555f;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttonYes {
  width: 125px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff751d;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonYes:hover,
.buttonYes:focus {
  background-color: #ff741da0;
  color: #000000;
  border: 2px solid #838385;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonNo {
  width: 125px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonNo:hover,
.buttonNo:focus {
  background-color: #6e6e6e8e;
  color: #ffffff;
  border: 2px solid #4e4e4e9c;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 400px) {
  .buttonYes {
    width: 120px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff751d;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttonNo {
    width: 120px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #52555f;
    background-color: #ffffff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}