.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(110, 110, 110, 0.521);
}

.modal {
  position: relative;
  width: 380px;
  padding: 50px 58px 60px;
  box-shadow: var(--modal-shadow);
  border-radius: 30px;
  background-color: var(--trans-background-color);
}

@media screen and (max-width: 400px) {
  .modal {
    width: 280px;
    padding: 30px 18px 40px;
  }
}

.closeButton {
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 400px) {
  .closeButton {
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.closeButton:hover,
.closeButton:focus {
  background-color: var(--general-accent-background-color);
  border: 2px solid #838385;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closeButton:hover>.svg,
.closeButton:focus>.svg {
  fill: var(--table-head-element-background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
  fill: var(--table-description-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  padding: 2px 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--table-head-element-background-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttonYes {
  width: 125px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--modal-background-color);
  background-color: var(--general-accent-background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonYes:hover,
.buttonYes:focus {
  background-color: var(--general-accent-background-color);
  color: var(--general-header-color);
  border: 2px solid #838385;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonNo {
  width: 125px;
  height: 44px;
  border: 2px solid var(--modal-button-border-color);
  border-radius: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--table-description-text-color);
  background-color: var(--table-element-background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonNo:hover,
.buttonNo:focus {
  background-color: var(--table-description-text-color);
  color: var(--table-element-background-color);
  border: 2px solid #4e4e4e9c;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 400px) {
  .buttonYes {
    width: 120px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--table-element-background-color);
    background-color: var(--general-accent-background-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttonNo {
    width: 120px;
    height: 44px;
    border: 2px solid var(--modal-button-border-color);
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--table-description-text-color);
    background-color: var(--table-element-background-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}