.wrapper {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}

.wrapper div {
  height: 60px;
  width: 60px;
  z-index: -10;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 6s linear infinite;
}
div .dot {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 20%;
  right: 20%;
  fill: rgb(139, 197, 139);
}

.wrapper div:nth-child(1) {
  /* background-color: red; */
  top: 20%;
  left: 10%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  /* background-color: red; */
  top: 60%;
  left: 83%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  /* background-color: red; */
  top: 40%;
  left: 15%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  /* background-color: red; */
  top: 80%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  /* background-color: red; */
  top: 80%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  /* background-color: red; */
  top: 10%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  /* background-color: red; */
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  /* background-color: red; */
  top: 85%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  /* background-color: red; */
  top: 0%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  /* background-color: red; */
  top: 35%;
  left: 85%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  /* background-color: red; */
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  /* background-color: red; */
  top: 15%;
  left: 75%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  /* background-color: red; */
  top: 5%;
  left: 6%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  /* background-color: red; */
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  /* background-color: red; */
  top: 80%;
  left: 80%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(16) {
  /* background-color: red; */
  top: 50%;
  left: 40%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(17) {
  /* background-color: red; */
  top: 60%;
  left: 55%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(18) {
  /* background-color: red; */
  top: 75%;
  left: 55%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(19) {
  /* background-color: red; */
  top: 45%;
  left: 64%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(20) {
  /* background-color: red; */
  top: 55%;
  left: 20%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  /* 0% {
    transform: scale(0) rotate(0) rotate(70deg);
  }
 25% {
    transform: scale(1.5) rotate(-25px) rotate(30deg);
  }
  50% {
    transform: scale(2.5) rotate(-50px) rotate(100deg);
  }
  75% {
    transform: scale(3.5) rotate(-75px) rotate(180deg);
  }
  100% {
    transform: scale(5) rotate(-100px) rotate(360deg);
  } */
  0% {
    transform: scale(0) rotate(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) rotate(-100px) rotate(360deg);
  }
}
